@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="Index">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item" style="background-color:greenyellow">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Instructors</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="cars">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Instructor" asp-action="Index">Students</a>
                </li>
                
                
                
                <li class="nav-item" style="margin-left: 50%;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                </li>




            </ul>
        </div>
    </div>
</nav>
<html>
<style>
  

    #one {
        background-color: ghostwhite;
    }

    body {
        
        background: #80CDF7;
    }


</style>
<body>

    <div class="container shadow p-5" id="one">

        <h1 class="text-center mb-3">List Of Instructors</h1>

        <div class="col mb-3">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Instructor</a>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Instructor Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Address</th>
                    <th scope="col">CreatedOn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">
                            @item.Name
                        </td>
                        <td width="20%">
                            @item.Designation
                        </td>
                        <td width="25%">
                            @item.Address
                        </td>
                        <td width="20%">
                            @item.RecordCreatedOn
                        </td>
                        <td>
                            <div role="group" class="w-60 btn-group">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</body>
</html>